.Demo{
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
}
.Demo .Container{
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.Demo .col-1{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.Demo .col-1 p:nth-child(1){
    font-size: 1.8rem;
    font-style: italic;
}
.Demo .col-1 p:nth-child(2){
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
}
.Demo .col-1 p:nth-child(3){
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.Demo .col-2{
    margin: auto;
}

@media screen and (max-width:940px) {
    .Demo .Container{
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .Demo iframe{
        width: 100%;
        height: auto;
    }
}